@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Mission08_Team0105.Models.Task

@* notes for controller:
we need to pass in the task class as the model
We need to pass in a View Bag of the categories for the dropdown
make sure to check isValid in the controller *@

<h1>Enter Task Information</h1>

<form method="post">
    
    @* to know what task to grab when editing *@
    <input type="hidden" asp-for="Id" />

    @* task creation form *@
    @* Task Name is called Task1 in the Task model *@
    <label asp-for="Task1">Task:</label>
    <input asp-for="Task1" />
    <br />

    <label asp-for="DueDate">Due Date:</label>
    <input asp-for="DueDate" type="date" />
    <br />

    @* Dropdown for quadrants 1-4 *@
    <label asp-for="Quadrant">Quadrant:</label>
    <select asp-for="Quadrant"> 
        <option value="">Select a Quadrant</option>
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
    </select>
    <br />

    <label asp-for="CategoryId">Category</label>
    <select asp-for="CategoryId">
        <option value="">Select a Category</option>
        @foreach (Category c in ViewBag.Categories)
        {
            <option value="@c.Id">@c.Name</option>
        }
    </select>
    <br />
    
    <label asp-for="Completed">Completed?</label>
    <select asp-for="Completed">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br />

    <button type="submit">Submit Task</button>

    <div asp-validation-summary="All"></div>
</form>